/* .header {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.quiz-nav {
    font-weight: 700;
}

.nav-link a {
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.active {
    background-color: tomato;
    padding-right: 5px;
    padding-left: 5px;
}